google-genai
unstructured
flashrank
streamlit
langgraph
diskcache
beautifulsoup4
pydantic-settings
pdfplumber
python-dotenv
qdrant-client
logfire
ragas
tenacity
pydantic
datasets
pandas
pytest
openai
python-docx
python-pptx